// SVG ICONS

@function _buildIcon($icon, $viewBox: "") {
    @if ($viewBox != "") {
        $viewBox: _buildAttribute("viewBox", $viewBox);
    }
    $icon: "%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22#{$viewBox}%20width%3D%2224%22%20height%3D%2224%22%3E#{$icon}%3C%2Fsvg%3E";
    @return $icon;
}

@function _buildPath($path, $parameters) {
    $icon: "%3Cpath%20fill%3D%22#{map-get($parameters, color)}%22%20stroke%3D%22#{map-get($parameters, stroke-color)}%22%20stroke-width%3D%22#{map-get($parameters, stroke-width)}%22%20style%3D%22#{map-get($parameters, css)}%22%20d%3D%22#{$path}%22%20%2F%3E";
    @return $icon;
}

@function _buildAttribute($name, $value) {
    @return "%20#{$name}%3D%22#{$value}%22";
}

@function _buildCustomElement($elmentName, $attributes, $parameters: "") {
    $element: "%3C#{$elmentName} ";
    @if ($parameters != "") {
        $element: "%3C#{$elmentName} %20fill%3D%22#{map-get($parameters, color)}%22";
    }
    @each $attr in $attributes {
        $element: "#{$element}#{$attr}";
    }
    @return "#{$element}%2F%3E";
}

@function _buildG($list, $parameters: "") {
    $gElement: "%3Cg%3E";
    @if ($parameters != "") {
        $gElement: "%3Cg%20fill%3D%22#{map-get($parameters, color)}%22%3E";
    }
    @each $item in $list {
        $gElement: "#{$gElement}#{$item}";
    }
    @return "#{$gElement}%3C%2Fg%3E";
}

@function encodeColor($color) {
    $color: "#{$color}";
    @if (str-slice($color, 0, 1) == "#") {
        $sliced: str-slice($color, 2);
        $color: "%23#{$sliced}";
    }
    @return $color;
}

@function icon(
    $icon-name,
    $color,
    $stroke-color: transparent,
    $stroke-width: 0,
    $css: ""
) {
    $viewBox: "";

    @if ($icon-name == audience) {
        $viewBox: "0 0 572 572";
    } @else if ($icon-name == waves) {
        $viewBox: "0 0 572 572";
    } @else if ($icon-name == splitters) {
        $viewBox: "0 0 572 572";
    } @else if ($icon-name == locations) {
        $viewBox: "0 0 700 650";
    } @else if ($icon-name == editPencil) {
        $viewBox: "0 0 572 700";
    } @else if ($icon-name == addSquare) {
        $viewBox: "0 0 28 28";
    } @else {
        $viewBox: "";
    }

    $parameters: (
        "color": encodeColor($color),
        "stroke-color": $stroke-color,
        "stroke-width": $stroke-width,
        "css": $css,
        "viewBox": $viewBox
    );

    $icons: (
        /* This icon is used in Utils/mixins.scss for external links */ externalLinkSquare:
            _buildPath(
                "M11.24.87A2.159 2.159 0 0 0 9.665.222H2.23A2.16 2.16 0 0 0 .654.87 2.117 2.117 0 0 0 0 2.43v7.362c0 .608.218 1.128.654 1.56.437.432.962.648 1.576.648h7.435c.614 0 1.139-.216 1.575-.648.436-.432.655-.952.655-1.56V2.43c0-.608-.219-1.128-.655-1.56zM9.912 6.356a.459.459 0 0 1-.302.453.55.55 0 0 1-.193.038.463.463 0 0 1-.349-.146L7.953 5.597 3.818 9.692a.479.479 0 0 1-.349.146.48.48 0 0 1-.348-.146l-.79-.782a.469.469 0 0 1-.147-.345c0-.133.049-.248.147-.345l4.135-4.095L5.351 3.02c-.16-.148-.196-.328-.108-.537.087-.2.24-.3.457-.3h3.717c.134 0 .25.05.348.147a.469.469 0 0 1 .147.345v3.68z",
                $parameters
            ),
        /* Icons below are used in TVProjectDetail and TVProjectForm styles */ audience:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                            "d",
                            "M405.76 360.352c0-66.080-53.568-119.648-119.648-119.648s-119.648 53.568-119.648 119.648c0 66.080 53.568 119.648 119.648 119.648 66.080 0 119.648-53.568 119.648-119.648zM0 28.224c0 84.64 69.312 140.064 153.952 140.064 40.928 0 222.272 0 264.288 0 84.64 0 153.952-55.424 153.952-140.064v-60.224h-572.192v60.224z"
                        )
                        _buildAttribute("transform", "rotate(180 286 279)")
                ),
                $parameters
            ),
        locations:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                        "d",
                        "M188.452 480c-100.478 0-188.452-82.883-188.452-185.135 0-94.817 189.677-305.743 189.677-305.743s189.677 207.757 189.677 305.743c0 102.252-90.424 185.136-190.901 185.136zM189.677 245.122c-34.999 0-63.367 28.367-63.367 63.367s28.367 63.366 63.367 63.366 63.367-28.367 63.367-63.366-28.367-63.367-63.367-63.367z"
                    )
                ),
                $parameters
            ),
        channels:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                            "d",
                            "M11,1 C20.1387196,1 21,1.60289629 21,8 C21,14.3971037 20.1387196,15 11,15 C1.86128042,15 1,14.3971037 1,8 C1,1.60289629 1.86128042,1 11,1 Z M5,4.73163418 C5,5.11544228 5.27586207,5.40329835 5.65967016,5.40329835 L6.95502249,5.40329835 L6.95502249,11.2683658 C6.95502249,11.7121439 7.25487256,12 7.69865067,12 C8.14242879,12 8.44227886,11.7121439 8.44227886,11.2683658 L8.44227886,5.40329835 L9.72563718,5.40329835 C10.1214393,5.40329835 10.3853073,5.12743628 10.3853073,4.74362819 C10.3853073,4.34782609 10.1214393,4.05997001 9.72563718,4.05997001 L5.65967016,4.05997001 C5.27586207,4.05997001 5,4.33583208 5,4.73163418 Z M16.5382309,4.94752624 C16.5622189,4.85157421 16.5742129,4.77961019 16.5742129,4.73163418 C16.5742129,4.32383808 16.2503748,4 15.8425787,4 C15.5067466,4 15.2428786,4.23988006 15.1589205,4.56371814 L13.7556222,9.79310345 L12.3523238,4.57571214 C12.2803598,4.23988006 11.9805097,4 11.6206897,4 C11.2008996,4 10.8650675,4.33583208 10.8650675,4.76761619 C10.8650675,4.8155922 10.8770615,4.91154423 10.9130435,5.03148426 L12.7241379,11.2323838 C12.856072,11.6881559 13.2278861,12 13.7076462,12 C14.1874063,12 14.5712144,11.6881559 14.7031484,11.2323838 L16.5382309,4.94752624 Z"
                        )
                        _buildAttribute("transform", "translate(-1.000000, -1.000000)")
                ),
                $parameters
            ),
        waves:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                            "d",
                            "M268.19 382.476h-48.762v-170.667h146.286v48.762h-97.524zM243.81 480c-134.656 0-243.81-109.154-243.81-243.81s109.153-243.81 243.81-243.81c134.656 0 243.81 109.154 243.81 243.81s-109.154 243.81-243.81 243.81zM243.81 41.143c-107.544 0-195.048 87.503-195.048 195.048s87.503 195.048 195.048 195.048 195.048-87.503 195.048-195.048-87.503-195.048-195.048-195.048z"
                        )
                        _buildAttribute("transform", "rotate(180 286 279)")
                ),
                $parameters
            ),
        addRound:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                        "d",
                        "M10,20 C4.4771525,20 0,15.5228475 0,10 C0,4.4771525 4.4771525,0 10,0 C15.5228475,0 20,4.4771525 20,10 C20,15.5228475 15.5228475,20 10,20 Z M11,9 L11,7 C11,6.44771525 10.5522847,6 10,6 C9.44771525,6 9,6.44771525 9,7 L9,9 L7,9 C6.44771525,9 6,9.44771525 6,10 C6,10.5522847 6.44771525,11 7,11 L9,11 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 L11,11 L13,11 C13.5522847,11 14,10.5522847 14,10 C14,9.44771525 13.5522847,9 13,9 L11,9 Z"
                    )
                ),
                $parameters
            ),
        addSquare:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                            "d",
                            "M16,14 L16,12 C16,11.4477153 15.5522847,11 15,11 C14.4477153,11 14,11.4477153 14,12 L14,14 L12,14 C11.4477153,14 11,14.4477153 11,15 C11,15.5522847 11.4477153,16 12,16 L14,16 L14,18 C14,18.5522847 14.4477153,19 15,19 C15.5522847,19 16,18.5522847 16,18 L16,16 L18,16 C18.5522847,16 19,15.5522847 19,15 C19,14.4477153 18.5522847,14 18,14 L16,14 Z M4,1 L26,1 C27.6568542,1 29,2.34314575 29,4 L29,26 C29,27.6568542 27.6568542,29 26,29 L4,29 C2.34314575,29 1,27.6568542 1,26 L1,4 C1,2.34314575 2.34314575,1 4,1 Z"
                        )
                        _buildAttribute("transform", translate(-1, -1))
                ),
                $parameters
            ),
        removeIcon:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                        "d",
                        "M6,12 C2.6862915,12 0,9.3137085 0,6 C0,2.6862915 2.6862915,0 6,0 C9.3137085,0 12,2.6862915 12,6 C12,9.3137085 9.3137085,12 6,12 Z M4,5 C3.44771525,5 3,5.44771525 3,6 C3,6.55228475 3.44771525,7 4,7 L8,7 C8.55228475,7 9,6.55228475 9,6 C9,5.44771525 8.55228475,5 8,5 L4,5 Z"
                    )
                ),
                $parameters
            ),
        editPencil:
            _buildG(
                _buildCustomElement(
                    "path",
                    _buildAttribute(
                            "d",
                            "M148.362 58.214l351.638 351.638c16.033 16.033 16.065 42.050 0 58.115-16.033 16.033-42.050 16.033-58.115 0l-351.638-351.638 58.115-58.115zM96.006 16.003c0-26.512-21.492-48.003-48.003-48.003-26.512 0-48.003 21.491-48.003 48.003 0 26.512 21.491 48.003 48.003 48.003 26.511 0 48.003-21.491 48.003-48.003z"
                        )
                        _buildAttribute("transform", "rotate(-90 330 285)")
                ),
                $parameters
            ),
        padlock:
            _buildPath(
                "M11.708 7.116A.953.953 0 0 0 11 6.818h-.333V4.773c0-1.307-.459-2.43-1.375-3.367C8.375.47 7.278 0 6 0S3.625.469 2.708 1.406c-.916.938-1.375 2.06-1.375 3.367v2.045H1c-.278 0-.514.1-.708.298A.998.998 0 0 0 0 7.841v6.136c0 .284.097.526.292.725C.486 14.9.722 15 1 15h10c.278 0 .514-.1.708-.298a.999.999 0 0 0 .292-.725V7.841a.997.997 0 0 0-.292-.725zm-3.041-.298H3.333V4.773c0-.753.26-1.396.782-1.929A2.541 2.541 0 0 1 6 2.046c.736 0 1.365.266 1.886.798.52.533.78 1.176.78 1.929v2.045z",
                $parameters
            ),
        trash:
            _buildG(
                _buildPath(
                        "M14,15.75 L5,15.75 L5,4.5 L14,4.5 L14,15.75 Z M7.249,1.124 L11.749,1.124 C12.371,1.124 12.874,1.628 12.874,2.25 L6.124,2.25 C6.124,1.628 6.629,1.124 7.249,1.124 Z M17.374,2.25 L14,2.25 C13.9994482,1.00758795 12.992412,0.000551815336 11.75,0 L7.249,0 C6.00658795,0.000551815336 4.99955182,1.00758795 4.999,2.25 L1.624,2.25 C1.00267966,2.25 0.499,2.75367966 0.499,3.375 C0.499,3.99632034 1.00267966,4.5 1.624,4.5 L2.75,4.5 L2.75,15.75 C2.75,16.3467371 2.98705289,16.9190334 3.40900974,17.3409903 C3.83096659,17.7629471 4.4032629,18 5,18 L14,18 C15.242412,17.9994482 16.2494482,16.992412 16.25,15.75 L16.25,4.5 L17.375,4.5 C17.9778828,4.47457458 18.4535553,3.97841869 18.4535553,3.375 C18.4535553,2.77158131 17.9778828,2.27542542 17.375,2.25 L17.374,2.25 Z",
                        $parameters
                    )
                    _buildPath(
                        "M7.25,12.937 L7.25,7.312 C7.26774811,7.01461973 7.51409058,6.78254102 7.812,6.78254102 C8.10990942,6.78254102 8.35625189,7.01461973 8.374,7.312 L8.374,12.937 C8.38646055,13.1457841 8.28215241,13.3442679 8.10313199,13.452424 C7.92411157,13.56058 7.69988843,13.56058 7.52086801,13.452424 C7.34184759,13.3442679 7.23753945,13.1457841 7.25,12.937 M10.624,12.937 L10.624,7.312 C10.6367127,7.0105586 10.8847907,6.77272235 11.1865,6.77272235 C11.4882093,6.77272235 11.7362873,7.0105586 11.749,7.312 L11.749,12.937 C11.7577138,13.1436194 11.6524484,13.3383843 11.4748221,13.4442918 C11.2971957,13.5501992 11.0758043,13.5501992 10.8981779,13.4442918 C10.7205516,13.3383843 10.6152862,13.1436194 10.624,12.937",
                        $parameters
                    )
            ),
        /* replaced by FontAvesome 5.6.3 "copy" - regular */ saveAs:
            _buildPath(
                "M13.5606562,2.06065625 L11.9393437,0.43934375 C11.6580408,0.158038705 11.2765114,2.08023879e-06 10.8786875,0 L5.5,0 C4.6715625,0 4,0.6715625 4,1.5 L4,3 L1.5,3 C0.6715625,3 0,3.6715625 0,4.5 L0,14.5 C0,15.3284375 0.6715625,16 1.5,16 L8.5,16 C9.3284375,16 10,15.3284375 10,14.5 L10,13 L12.5,13 C13.3284375,13 14,12.3284375 14,11.5 L14,3.1213125 C13.9999979,2.72348856 13.8419613,2.34195921 13.5606562,2.06065625 Z M8.3125,14.5 L1.6875,14.5 C1.58394661,14.5 1.5,14.4160534 1.5,14.3125 L1.5,4.6875 C1.5,4.58394661 1.58394661,4.5 1.6875,4.5 L4,4.5 L4,11.5 C4,12.3284375 4.6715625,13 5.5,13 L8.5,13 L8.5,14.3125 C8.5,14.4160534 8.41605339,14.5 8.3125,14.5 Z M12.3125,11.5 L5.6875,11.5 C5.58394661,11.5 5.5,11.4160534 5.5,11.3125 L5.5,1.6875 C5.5,1.58394661 5.58394661,1.5 5.6875,1.5 L9,1.5 L9,4.25 C9,4.66421875 9.33578125,5 9.75,5 L12.5,5 L12.5,11.3125 C12.5,11.4160534 12.4160534,11.5 12.3125,11.5 Z M12.5,3.5 L10.5,3.5 L10.5,1.5 L10.801,1.5 C10.8507188,1.5 10.8984063,1.51975 10.9335938,1.55490625 L12.4450937,3.06640625 C12.4802555,3.10157391 12.500006,3.14926963 12.5,3.199 L12.5,3.5 Z",
                $parameters
            )
    );

    $icon: _buildIcon(map-get($icons, $icon-name), map-get($parameters, "viewBox"));
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}
