/* Layers are sorted from topmost down - it. the first item in this list
 * will have the highest z-index
 */
$layers: (
    "OnboardingUnderModal",
    "XBSharedProjectWarning",
    "XB2SharedProjectWarning",
    "XBDetailDropdownList",
    "P2DropdownList",
    "MenuPopup",
    "D2DropdownAndOverElements",
    "DashboardFilterDropdown",
    "DashboardOverlay",
    "ElmImageBox",
    "UpsellDialogPaymentDetailsHoverError",
    "UpsellDialogPopup",
    "UpsellDialog",
    "CBCommandBarMenu",
    "CBOptionsBarWrapper",
    "TaggedListFilterSortPopup",
    "TaggedListFilterSticky",
    "MenuBrowserSwitchesBtnActive",
    "Menu",
    "TVResultsModal",
    "GeminiScrollbar",
    // d3scription z-index is 100 by default and configurable, but d3-charts don't configure it and don't allow the user of d3-charts to configure it. So let's just make this value *less than that,* to avoid scrollbar obscuring the d3 tooltip.
    "XBDebugInfo",
    "XB2DebugInfo",
    "XBDetailGroupingBox",
    "XB2DetailGroupingBox",
    "XBDetailSelectionPanel",
    "XB2DetailSelectionPanel",
    "Notifications",
    "XBTableOverlay",
    "XB2TableOverlay",
    "XBTableScrollTooltip",
    "XB2TableScrollTooltip",
    "XBTableScrollButton",
    "XB2TableScrollButton",
    "XBBrowserDragDropGhost",
    "XB2BrowserDragDropGhost",
    "XBTableDragDropGhost",
    "XB2TableDragDropGhost",
    "XBTableDragDropPinhead",
    "XB2TableDragDropPinhead",
    "XBTableCorner",
    "XB2TableCorner",
    "XBTableDragDropShiftedDroppable",
    "XB2TableDragDropShiftedDroppable",
    "XBTableHeaders",
    "XB2TableHeaders",
    "XBTableCells",
    "XB2TableCells",
    /* TV2 edit table */ "TV2TableHeaderCorner",
    "TV2TableHeader",
    "TV2TableHeaderLeft",
    "Filters",
    /* dashboards header containts z-index because of some sort of IE11 issue (this is edge case when screen is super small below 820px) */
        /* headers needs to be above header border*/ "DashboardWidgetHeader",
    "WidgetEditDimensionButtons",
    "DashboardWidgetHeaderBorder"
);

$fixedZindexLayers: (
    "MixinWrongUsageProtection": 1321,
    /* dialog popups are used also for errors which has to be always on top */
        "DialogPopup": 1320,
    "DialogPopupOverlay": 1319,
    "Dashboard2DraggedGhost": 1318,
    "P2AutocompleteInputSuggestions": 1317,
    "GlobalLoading": 1316,
    "Fullscreen": 1315,
    "UserSettingsDefaultSpinner": 1314,
    "UpsellDialogLoader": 1313,
    "HomeScreenVideo": 1312,
    "HomeScreenVideoOverlay": 1311,
    "Cooltip": 1310,
    "DashboardWidgetDropdown": 1309,
    "CBHeaderPopup": 1308,
    "XBMoreOptionsDropdown": 1307,
    "XB2MoreOptionsDropdown": 1306,
    "XBModalOverlay": 1305,
    "P2Tooltip": 1304,
    "Onboarding": 1303,
    "P2ModalHeader": 1302,
    "P2ModalContent": 1301,
    "P2ModalOverlay": 1300,
    "P2DrawerOverlay": 1200,
    "XB2BasesChevrons": 27,
    "FiltersResetButton": 1,
    "XBDropdownNested": 1,
    "XB2ListIconCooltipTarget": 1,
    "P2DrawerFooter": 0,
    "XBTableRowsAfter": -1,
    "XB2TableRowsAfter": -1,
    "GeminiScrollbarResizeTrigger": -100,
    "XBDetailCheckboxInput": -200,
    "P2CheckboxInput": -200
);

@function _layerToZIndex($name) {
    @if index($layers, $name) == null {
        @if map-get($fixedZindexLayers, $name) == null {
            @error 'Invalid layer name :[ #{$name} ] #{index($fixedZindexLayers, $name)}. Please define it in $layers or $fixedZindexLayers';
        } @else {
            @return map-get($fixedZindexLayers, $name);
        }
    } @else {
        @return length($layers) - index($layers, $name) + 1;
    }
}

@mixin layer($name) {
    z-index: _layerToZIndex($name);
}
