@use "crosstab-builder/XB2/src/XB2/Share/zindex.scss";

x-cooltip {
    display: block;
}

x-cooltip-tooltip {
    @include zindex.layer("Cooltip");
    $root: &;

    --cooltip-width: 234px;
    --cooltip-color-bg: #7c2494;
    --cooltip-from-middle-offset: 10px;
    --cooltip-position-left: 0%;
    --cooltip-position-top: 0%;
    --cooltip-target-width: 0px;
    --cooltip-target-height: 0px;
    --cooltip-offset: 0px;

    display: none;
    justify-content: center;
    text-align: left;

    position: fixed;
    top: var(--cooltip-position-top);
    left: var(--cooltip-position-left);

    pointer-events: none;
    width: var(--cooltip-width);
    padding: 8px 12px;
    margin: 0 0 3px 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    white-space: pre-wrap;
    background: var(--cooltip-color-bg);
    border-radius: 4px;
    line-height: normal;

    &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 8px solid var(--cooltip-color-bg);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }

    &.topleft {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) + var(--cooltip-target-width) - var(
                    --cooltip-offset
                )
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) - var(--cooltip-height) - var(
                    --cooltip-from-middle-offset
                )
        );

        &::before {
            bottom: -8px;
            left: auto;
            right: 12px;
        }
    }

    &.top {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) / 2 +
                var(--cooltip-target-width) / 2 + var(--cooltip-offset)
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) - var(--cooltip-height) - var(
                    --cooltip-from-middle-offset
                )
        );

        &::before {
            left: auto;
        }
    }

    &.topright {
        --cooltip-position-left: calc(var(--cooltip-target-x) + var(--cooltip-offset));
        --cooltip-position-top: calc(
            var(--cooltip-target-y) - var(--cooltip-height) - var(
                    --cooltip-from-middle-offset
                )
        );

        &::before {
            bottom: -8px;
            left: 12px;
            right: auto;
        }
    }

    &.left {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) - var(
                    --cooltip-from-middle-offset
                )
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) / 2 - var(
                    --cooltip-height
                ) / 2 + var(--cooltip-offset)
        );

        &::before {
            right: -8px;
            bottom: calc(50% - 8px);
            left: auto;
            border-top: 8px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid var(--cooltip-color-bg);
        }
    }

    &.right {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) + var(--cooltip-target-width) +
                var(--cooltip-from-middle-offset)
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) / 2 - var(
                    --cooltip-height
                ) / 2 + var(--cooltip-offset)
        );

        &::before {
            bottom: calc(50% - 8px);
            right: auto;
            left: -8px;
            border-top: 8px solid transparent;
            border-left: 0px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid var(--cooltip-color-bg);
        }
    }

    &.bottomleft {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) + var(--cooltip-target-width) - var(
                    --cooltip-offset
                )
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) +
                var(--cooltip-from-middle-offset)
        );

        &::before {
            top: -8px;
            left: auto;
            right: 12px;
            bottom: auto;
            border-bottom: 8px solid var(--cooltip-color-bg);
            border-top: none;
        }
    }

    &.bottom {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) / 2 +
                var(--cooltip-target-width) / 2 + var(--cooltip-offset)
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) +
                var(--cooltip-from-middle-offset)
        );

        &::before {
            top: -8px;
            left: calc(50% - 8px);
            bottom: auto;
            border-bottom: 8px solid var(--cooltip-color-bg);
            border-top: none;
        }
    }

    &.bottomright {
        --cooltip-position-left: calc(var(--cooltip-target-x) + var(--cooltip-offset));
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) +
                var(--cooltip-from-middle-offset)
        );

        &::before {
            top: -8px;
            left: 12px;
            bottom: auto;
            border-bottom: 8px solid var(--cooltip-color-bg);
            border-top: none;
        }
    }

    &.center {
        --cooltip-position-left: calc(
            var(--cooltip-target-x) - var(--cooltip-width) / 2 +
                var(--cooltip-target-width) / 2 + var(--cooltip-offset)
        );
        --cooltip-position-top: calc(
            var(--cooltip-target-y) + var(--cooltip-target-height) / 2 +
                var(--cooltip-from-middle-offset) - 8px
        );

        &::before {
            top: calc(50% - 8px);
            left: calc(50% - 8px);
            bottom: auto;
            border-bottom: 8px solid var(--cooltip-color-bg);
            border-top: none;
        }
    }
}

x-cooltip-target:hover ~ x-cooltip-tooltip {
    display: flex;
}
