@use "crosstab-builder/XB2/src/XB2/Share/zindex";
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;

@mixin styles {
    @include zindex.layer("P2ModalOverlay");

    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(P2Colors.$navy, 0.5);
    color: P2Colors.$navy;

    &--modal {
        width: 375px;
        min-height: 207px;
        margin-top: 40px;
        background: P2Colors.$white;
        border-radius: 4px;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
        padding: 36px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            text-align: center;
        }

        &--noprogress-spinner {
            position: relative;
            height: 56px;
            width: 56px;
            margin-bottom: 15px;
        }

        &--state-info {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
        }

        &--progress-label {
            position: absolute;
            display: grid;
            align-items: center;
            padding-top: 20px;
            font-size: 12px;
        }

        &--progress-bar {
            $border-width: 4;

            display: block;
            width: 56px;
            height: 56px;
            margin-bottom: 8px;

            &--circle {
                stroke: P2Colors.$grey2;
                fill: none;
                stroke-width: $border-width;
            }

            &--arc {
                stroke: P2Colors.$pink-medium;
                fill: none;
                stroke-width: $border-width;
                stroke-linecap: round;
                stroke-dasharray: var(--data-percentage-progress, 0), 100;
                transition: stroke-dasharray 0.2s;
            }
        }

        &--cancel {
            margin-top: 24px;

            &--btn {
                color: P2Colors.$navy;
                text-decoration: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;

                &:hover {
                    color: P2Colors.$pink-medium;
                }
            }
        }
    }
}
