@use "sass:color";
@use "crosstab-builder/XB2/src/XB2/Share/mixins";
@use "crosstab-builder/XB2/src/XB2/Share/zindex";
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/components" as P2Components;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/Scrollbar/style" as Scrollbar;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/GroupingPanel/style" as GroupingPanel;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/AutocompleteInput/style" as
    AutocompleteInput;
@use "./GroupingPanel/style" as XB2GroupingPanel;
@use "crosstab-builder/XB2/src/XB2/Share/Modal/style";
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/FullScreenLoader/style" as
    FullScreenLoader;

@mixin xb2-bulk-actions-items {
    &--items {
        @include mixins.normalize-ul;
        overflow-y: auto;

        &--row {
            display: flex;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &--grouping-label {
            padding: 8px;
            height: 32px;
            margin: 8px 8px 0 0;
            border-radius: 2px;
            background-color: P2Colors.$grey3;
            text-transform: uppercase;
            font-weight: 600;
        }

        &--item {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: stretch;
            min-width: 0; // to allow ellipsis overflow: https://css-tricks.com/flexbox-truncated-text/
            background: P2Colors.$grey1;
            padding: 0;
            flex-wrap: wrap;
            color: P2Colors.$navy;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid P2Colors.$grey1;
            border-radius: 4px;

            &.expanded {
                border: 1px solid P2Colors.$grey4;
                border-radius: 4px;
            }

            &:hover {
                color: P2Colors.$pink-medium;
                border-color: P2Colors.$pink-medium;
            }

            &:hover &--view-info--show--label {
                /*  ^^^^^^^^^^^^^^^^^^^^^^^^^
                   this smells - it recreates the structure of `viewInfo` below */
                display: inline-block;
                white-space: nowrap;
            }

            &--header {
                display: flex;
                flex-direction: row;
                flex: 1;
                justify-content: space-between;
                align-items: stretch;
                width: 100%;
            }

            &--icon {
                width: 32px;
                color: currentColor;
                display: flex;
                align-items: center;
            }

            &--title {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 48px;
            }

            &--buttons {
                padding-right: 12px;
                margin-bottom: 6px;
                margin-top: 6px;

                & button {
                    @include P2Components.secondary-button(
                        $on-colour-bg: false,
                        $border: false
                    );
                    padding: 0;
                    display: inline-flex;
                }
            }

            &--view-info {
                &--show {
                    cursor: pointer;
                    font-size: 14px;
                    color: P2Colors.$navy;
                    font-weight: 600;
                    padding: 0;

                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;

                    &:hover &--label {
                        visibility: visible;
                    }

                    &--label {
                        display: none;
                    }
                }

                &--hide {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    max-width: 115px; // WTF is this
                    cursor: pointer;
                    font-size: 14px;
                    color: P2Colors.$navy;
                    font-weight: 600;
                    padding: 0;
                }
            }

            &--expression {
                display: block;
                flex-basis: 100%;
                padding: 16px;
                margin: 24px;
                background: P2Colors.$grey2;
                border-radius: 4px;
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

@mixin xb2-bulk-actions-adjustments {
    &--content {
        display: flex;
        flex-direction: column;
    }

    &--dialog-copy {
        margin: 32px 0 19px 0;
    }

    &--checkbox {
        display: flex;
        position: absolute;
        align-items: center;
        left: 32px;
        bottom: 32px;
        cursor: pointer;

        &--input {
            display: none;
        }

        &--indicator {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.checked &--icon {
            color: P2Colors.$pink-dark;
        }

        &--icon {
            height: 32px;
        }

        &:hover {
            color: P2Colors.$pink-medium;
        }
    }
}

@mixin xb2-stateful-modal {
    &--processing-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: P2Colors.$white;
        opacity: 0.4;
    }

    &--error {
        color: P2Colors.$orange-dark;
        text-align: left;
        font-size: 14px;
        line-height: 1.14;
        text-transform: none;
        font-weight: normal;
        padding: 8px 0;
    }
}

.xb2-modal {
    font-family: P2Components.$p2-fonts;

    &__fetch-questions-for-edit-modal {
        @include FullScreenLoader.styles;

        &--modal--cancel {
            visibility: hidden;
        }
    }

    &__modal {
        &--overlay {
            @include P2Components.modal-overlay;
        }

        &--container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background: P2Colors.$white;
            font-size: 14px;
            font-weight: normal;
            color: P2Colors.$navy;
        }
    }

    &.small-modal &__modal {
        @include P2Components.small-modal-container;
    }

    &.medium-modal &__modal {
        @include P2Components.medium-modal-container;
    }

    &.medium-flexible-modal &__modal {
        @include P2Components.medium-flexible-height-modal-container;
    }

    &.large-modal &__modal {
        @include P2Components.large-modal-container;
    }

    &.large-capped-modal &__modal {
        @include P2Components.large-capped-modal-container;
    }

    @include P2Components.expressionViewerWrapper;

    // todo is this needed? what's the purpose of this?

    &__filter {
        // todo replace with --headline?

        &--heading,
        &--section-heading {
            font-weight: 700;
            color: P2Colors.$blue-dark;
        }

        &--heading {
            margin: 0 0 8px 0;
            font-size: 20px;
            line-height: 24px;
        }

        &--text {
            line-height: 21px;
        }

        &--section-heading {
            margin: 16px 0 0 0;
            font-size: 16px;
            line-height: 1.5;
            text-transform: none;
        }

        &--reset-filter {
            float: right;
        }

        &--selected-counter {
            padding: 4px 10px;
            margin: 0 8px;
            border-radius: 12px;
            background-color: P2Colors.$grey2;
            font-size: 16px;
            font-weight: 600;

            &.error {
                background-color: P2Colors.$orange-bg;
                color: P2Colors.$orange-dark;
            }
        }

        &--actions-panel {
            text-align: right;
            padding-top: 39px;

            &--notice {
                width: 70%;
                float: left;
                text-align: left;
                color: P2Colors.$grey5;
            }
        }
    }

    &__unsaved-alert {
        @include P2Components.modal-commons;
    }

    &__general-modal {
        @include P2Components.modal-commons;
    }

    &__general-alert {
        @include P2Components.modal-commons;
    }

    &__attribute-browser {
        @include P2Components.modal-commons;
        height: 100%;
        position: relative;

        &--overlay {
            position: absolute;
            width: 100%;
            height: 100%;

            &--shield {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
            }
        }

        &--content {
            display: flex;
            flex-direction: row;
            max-height: none;
            padding: 0;
            overflow: hidden;

            &--left-part {
                flex: 1;
                padding: 24px;
                max-width: calc(100% - #{GroupingPanel.$width});

                &--attributes,
                &--audiences {
                    display: none;
                    height: 100%;

                    &.visible {
                        display: block;
                        position: relative;
                    }
                }
                //hack because React is shit. It's compiled with different classes than in Storybook and wrong class has bigger specificity
                //Also not using any class name here since it can be changeed in WC but we need always root element with nowrap

                &--attributes > x-et-attribute-browser > div {
                    flex-wrap: nowrap;
                }
            }

            &--right-part {
                background-color: P2Colors.$grey2;
                display: flex;
                width: GroupingPanel.$width;

                &.dragging {
                    cursor: grabbing;
                }

                &--spinner {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 100%;
                }

                &--warning {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: GroupingPanel.$width;
                    padding: GroupingPanel.$padding;
                    height: 100%;
                    background: P2Colors.$grey1;
                    color: P2Colors.$navy;

                    &--header {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        font-size: 20px;
                        font-weight: bold;
                        color: P2Colors.$navy;
                        margin-bottom: 0;
                        gap: 8px;
                    }

                    &--disclaimer {
                        padding: 8px;
                        border-radius: 4px;
                        border: 1px solid P2Colors.$grey5;
                        margin: 16px 0 16px;
                        font-size: 12px;
                        color: P2Colors.$navy;
                    }

                    &--note {
                        color: P2Colors.$navy;
                        font-size: 14px;
                    }

                    &--list {
                        overflow-y: auto;

                        &--item {
                            margin-bottom: 14px;
                        }
                    }

                    &--close {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        width: 32px;
                        height: 32px;
                        padding: 0;
                        margin: 0;
                        border: 0;

                        &:hover {
                            color: P2Colors.$pink-medium;
                        }
                    }
                }
            }

            &--error-view {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                max-width: 90%;
                max-height: 40%;
                overflow-y: auto;
                padding: 18px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background: P2Colors.$pink-medium;
                color: P2Colors.$white;
                font-size: 14px;
                font-weight: 600;
            }
        }

        &--grouping-panel {
            @include GroupingPanel.grouping-panel();
        }

        &--complex-grouping-panel {
            @include XB2GroupingPanel.grouping-panel();
        }
    }

    &__add-new-bases {
        @include P2Components.modal-commons;
        @include xb2-bulk-actions-items;
        @include xb2-bulk-actions-adjustments;

        &--logic {
            height: 32px;
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
            margin-top: 24px;

            &--label {
                flex-grow: 2;
                line-height: 32px;
            }

            &--buttons {
                display: flex;
                flex-direction: row;

                &--button {
                    @include P2Components.secondary-button;
                    text-transform: uppercase;

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    &__merge-row-or-columns {
        @include P2Components.modal-commons;
        @include xb2-bulk-actions-items;
        @include xb2-bulk-actions-adjustments;

        &--logic {
            height: 32px;
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
            margin-top: 24px;

            &--label {
                flex-grow: 2;
                line-height: 32px;
            }

            &--buttons {
                display: flex;
                flex-direction: row;

                &--button {
                    @include P2Components.secondary-button(
                        $on-colour-bg: false,
                        $border: true
                    );
                    text-transform: uppercase;

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    &__remove-rows-columns {
        @include P2Components.modal-commons;
        @include xb2-bulk-actions-items;
        @include xb2-bulk-actions-adjustments;
        @include P2Components.expressionViewerWrapper;

        &--items--item {
            &:hover &--view-info--show + &--remove,
            &--view-info--hide + &--remove {
                margin-left: 8px;
            }
        }
    }

    &__remove-bases-confirm {
        @include P2Components.modal-commons;
        @include xb2-bulk-actions-items;
        @include xb2-bulk-actions-adjustments;
        @include P2Components.expressionViewerWrapper;
    }

    &__save-modal {
        @include P2Components.modal-commons;
        @include xb2-stateful-modal;
        @include P2Components.text-input;

        &--header {
            margin-bottom: 26px;
        }
    }

    &__minimum-sample-size-modal {
        @include P2Components.modal-commons;
        @include xb2-stateful-modal;
        @include P2Components.text-input;

        &--header {
            margin-bottom: 26px;
        }

        &--main {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &--input {
            max-width: 100px;
            text-align: right;
        }
    }

    &__confirm-modal {
        @include P2Components.modal-commons;

        &--content {
            p {
                color: P2Colors.$navy;
                margin: 0;

                &:not(:first-child) {
                    margin-top: 24px;
                }
            }
        }
    }

    &__move-to-folder-modal {
        @include P2Components.modal-commons;
        @include xb2-stateful-modal;
        overflow: hidden;
        height: 100%;

        &--main {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            height: auto;
            overflow-y: hidden;

            &--heading {
                flex: 0 0 auto;
                margin: 28px 192px 19px 8px;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.2;
                color: P2Colors.$navy;
            }

            &--folders {
                &--items {
                    flex: 1 1 auto;
                    overflow-y: auto;

                    ul {
                        @include mixins.normalize-ul;
                    }
                }

                &--item {
                    margin: 8px;
                    display: flex;
                    flex-direction: row;
                    height: 48px;
                    align-items: center;
                    padding: 8px 0;
                    letter-spacing: normal;
                    text-decoration: none;
                    cursor: pointer;
                    color: P2Colors.$navy;
                    border: 1px solid P2Colors.$grey5;
                    border-radius: 4px;
                    background-color: P2Colors.$white;

                    &:hover {
                        cursor: pointer;
                        color: P2Colors.$pink-dark;
                        border-color: currentColor;
                        box-shadow: inset 0 0 0 1px currentColor;
                    }

                    &--icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        margin: 8px;
                        object-fit: contain;
                    }

                    &--folder-name {
                        margin: 7px 0 7px 0;
                        font-weight: 600;
                    }

                    &.selected {
                        color: P2Colors.$pink-dark;
                        border-color: currentColor;
                        box-shadow: inset 0 0 0 1px currentColor;

                        &--icon {
                            color: P2Colors.$blue-medium;
                        }
                    }
                }
            }
        }

        &--header {
            padding-bottom: 30px;
        }

        &--footer {
            border-radius: 4px;
            box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
        }
    }

    &__view-group-modal {
        @include P2Components.modal-commons;
        @include P2Components.text-input;
        @include xb2-stateful-modal;

        &--expression-content {
            overflow: auto;
            width: calc(100% - 48px);
            margin: 0 24px 0 24px;
            border: 2px solid P2Colors.$grey4;
            border-radius: 4px;
        }

        &--footer {
            height: 78px;
            width: 100%;
            padding: 20px 24px;
            align-self: flex-end;
            align-items: center;
        }

        &--content {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        &--input-wrap {
            margin: 16px 0;
            padding: 0 24px;
        }

        &--expression-wrapper {
            padding-right: 8px;
            overflow: auto;
            margin: 0 8px;
        }
    }

    &__view-affix-modal-many {
        height: 100%;
        @include P2Components.modal-commons;

        &--main {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            flex: initial;

            &--back-btn {
                padding: 0;
                vertical-align: top;
                align-self: flex-start;
            }

            &--back {
                margin-top: 24px;
                display: flex;
                align-items: center;
                height: 32px;

                &--label {
                    margin: 0 0 0 25px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }
            }
        }

        &--groups {
            @include xb2-bulk-actions-items;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            max-height: 250px;

            &--scroll {
                position: relative;
                overflow: auto;
                flex: 1 1 auto;
                margin-bottom: 10px;

                ul {
                    @include mixins.normalize-ul;
                }
            }

            &--items {
                &--item {
                    padding: 0;
                    border: 1px solid P2Colors.$grey2;

                    &--icon {
                        display: flex;
                    }

                    &--char-limit {
                        margin-right: 8px;
                        font-weight: normal;
                        line-height: 1.5;
                        color: P2Colors.$grey6;

                        &.reached {
                            color: P2Colors.$orange-medium;
                            font-weight: 600;
                        }
                    }

                    &--view-info {
                        &--show {
                            width: max-content;
                            vertical-align: middle;
                        }

                        &--hide {
                            width: max-content;
                            vertical-align: middle;
                        }
                    }

                    &.active {
                        border: 2px solid P2Colors.$pink-dark;
                    }

                    &--title {
                        font-weight: normal;
                        color: P2Colors.$grey6;
                        min-height: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &--header {
                        padding-right: 10px;
                        border-radius: 4px;
                        display: inline-flex;
                        align-items: center;
                        height: 40px;

                        &.active {
                            border-bottom: 2px solid P2Colors.$pink-dark;
                        }
                    }

                    &--title-input {
                        height: 100%;
                        border: none;
                        flex: 1;
                        background-color: P2Colors.$grey1;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;

                        &:focus {
                            border: P2Colors.$grey1;
                            outline: none;
                        }
                    }
                }
            }
        }

        &--top-label {
            margin: 8px 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: P2Colors.$navy;
            text-transform: initial;
        }

        &--footer {
            display: flex;
            flex-direction: column;
            position: sticky;
            bottom: 0;
            height: 100%;
            padding-top: 12px;
            box-shadow: 0 -3px 5px 0 color.adjust(P2Colors.$grey4, $alpha: -0.5);

            &--expression {
                flex: 1 1 auto;
                width: 100%;

                &--label {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }

                &--scroll {
                    position: relative;
                    border: 2px solid P2Colors.$grey4;
                    border-radius: 4px;
                    margin-top: 12px;
                    height: 80%;
                    overflow: hidden;

                    &--inner {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: auto;
                    }
                }
            }

            &--buttons {
                display: flex;
                gap: 8px;
                flex-direction: row;
                justify-content: flex-end;
                background-color: P2Colors.$white;
            }
        }
    }

    &__view-affix-modal-one {
        @include P2Components.modal-commons;

        &--main {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            overflow: hidden;
            padding: 0 24px;

            &--back-btn {
                padding: 0;
                vertical-align: top;
                align-self: flex-start;
            }

            &--back {
                margin-top: 24px;

                &--label {
                    margin: 0 0 21px 0;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }
            }
        }

        &--label {
            margin: 21px 8px 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: P2Colors.$navy;
            text-transform: initial;
        }

        height: 100%;

        &--content {
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            overflow: hidden;
            padding: 0;

            &--expression {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                position: relative;
                max-width: 50%;

                &--label {
                    margin: 19px 0 16px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }

                &--content {
                    position: relative;
                    flex: 1 1 auto;
                    margin-bottom: 20px;
                    width: calc(100% - 30px);
                    overflow: hidden;

                    border: 1px solid P2Colors.$grey4;
                    border-radius: 4px;

                    &--scroll {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        overflow: auto;
                    }
                }

                &:nth-child(2) &--content {
                    width: 100%;
                }
            }
        }

        &--groups {
            margin: 0;

            &--items {
                &--item {
                    margin: 4px 0;
                    border-radius: 2px;
                    border: solid 1px P2Colors.$grey2;
                    flex-shrink: 0;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    background-color: P2Colors.$grey1;

                    &:hover {
                        border-color: P2Colors.$pink-medium;
                    }

                    &--char-limit {
                        align-self: center;
                        margin-right: 8px;
                        color: P2Colors.$grey6;

                        &.reached {
                            color: P2Colors.$orange-medium;
                            font-weight: 600;
                        }
                    }

                    &.active {
                        border: 2px solid P2Colors.$pink-dark;
                    }

                    &--title {
                        color: P2Colors.$grey6;
                        align-self: center;
                        flex: 1;
                        min-height: 18px;
                    }

                    &--title-input {
                        height: 100%;
                        border: none;
                        flex: 1;
                        background-color: P2Colors.$grey1;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;

                        &:focus {
                            border: P2Colors.$grey1;
                            outline: none;
                        }
                    }

                    svg {
                        background-color: P2Colors.$grey1;
                        height: 100%;
                    }
                }
            }
        }

        &--footer {
            flex: 0 0 auto;
            background-color: P2Colors.$white;
        }
    }

    &__view-edit-modal-many {
        height: 100%;
        @include P2Components.modal-commons;

        &--main {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            flex: initial;

            &--back-btn {
                padding: 0;
                vertical-align: top;
                align-self: flex-start;
            }

            &--back {
                margin-top: 24px;
                display: flex;
                align-items: center;
                height: 32px;

                &--label {
                    margin: 0 0 0 25px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }
            }
        }

        &--groups {
            @include xb2-bulk-actions-items;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            max-height: 250px;

            &--scroll {
                position: relative;
                overflow: auto;
                flex: 1 1 auto;
                margin-bottom: 10px;

                ul {
                    @include mixins.normalize-ul;
                }
            }

            &--items {
                &--item {
                    padding: 0;
                    border: 1px solid P2Colors.$grey2;

                    &--icon {
                        display: flex;
                    }

                    &--char-limit {
                        margin-right: 8px;
                        font-weight: normal;
                        line-height: 1.5;
                        color: P2Colors.$grey6;

                        &.reached {
                            color: P2Colors.$orange-medium;
                            font-weight: 600;
                        }
                    }

                    &--view-info {
                        &--show {
                            width: max-content;
                            vertical-align: middle;
                        }

                        &--hide {
                            width: max-content;
                            vertical-align: middle;
                        }
                    }

                    &.active {
                        border: 2px solid P2Colors.$pink-dark;
                    }

                    &--title {
                        font-weight: normal;
                        color: P2Colors.$grey6;
                        min-height: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &--header {
                        padding-right: 10px;
                        border-radius: 4px;
                        display: inline-flex;
                        align-items: center;
                        height: 40px;

                        &.active {
                            border-bottom: 2px solid P2Colors.$pink-dark;
                        }
                    }

                    &--title-input {
                        height: 100%;
                        border: none;
                        flex: 1;
                        background-color: P2Colors.$grey1;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;

                        &:focus {
                            border: P2Colors.$grey1;
                            outline: none;
                        }
                    }
                }
            }
        }

        &--top-label {
            margin: 8px 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: P2Colors.$navy;
            text-transform: initial;
        }

        &--footer {
            display: flex;
            flex-direction: column;
            position: sticky;
            bottom: 0;
            height: 100%;
            padding-top: 12px;
            box-shadow: 0 -3px 5px 0 color.adjust(P2Colors.$grey4, $alpha: -0.5);

            &--expression {
                flex: 1 1 auto;
                width: 100%;

                &--label {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }

                &--scroll {
                    position: relative;
                    border: 2px solid P2Colors.$grey4;
                    border-radius: 4px;
                    margin-top: 12px;
                    height: 80%;
                    overflow: hidden;

                    &--inner {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: auto;
                    }
                }
            }

            &--buttons {
                display: flex;
                gap: 8px;
                flex-direction: row;
                justify-content: flex-end;
                background-color: P2Colors.$white;
            }
        }
    }

    &__view-edit-modal-one {
        @include P2Components.modal-commons;

        &--main {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            overflow: hidden;
            padding: 0 24px;

            &--back-btn {
                padding: 0;
                vertical-align: top;
                align-self: flex-start;
            }

            &--back {
                margin-top: 24px;

                &--label {
                    margin: 0 0 21px 0;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }
            }
        }

        &--label {
            margin: 21px 8px 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            color: P2Colors.$navy;
            text-transform: initial;
        }

        height: 100%;

        &--content {
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            overflow: hidden;
            padding: 0;

            &--expression {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                position: relative;
                max-width: 50%;

                &--label {
                    margin: 19px 0 16px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.6;
                    color: P2Colors.$navy;
                }

                &--content {
                    position: relative;
                    flex: 1 1 auto;
                    margin-bottom: 20px;
                    width: calc(100% - 30px);
                    overflow: hidden;

                    border: 1px solid P2Colors.$grey4;
                    border-radius: 4px;

                    &--scroll {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        overflow: auto;
                    }
                }

                &:nth-child(2) &--content {
                    width: 100%;
                }
            }
        }

        &--groups {
            margin: 0;

            &--items {
                &--item {
                    margin: 4px 0;
                    border-radius: 2px;
                    border: solid 1px P2Colors.$grey2;
                    flex-shrink: 0;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    background-color: P2Colors.$grey1;

                    &:hover {
                        border-color: P2Colors.$pink-medium;
                    }

                    &--char-limit {
                        align-self: center;
                        margin-right: 8px;
                        color: P2Colors.$grey6;

                        &.reached {
                            color: P2Colors.$orange-medium;
                            font-weight: 600;
                        }
                    }

                    &.active {
                        border: 2px solid P2Colors.$pink-dark;
                    }

                    &--title {
                        color: P2Colors.$grey6;
                        align-self: center;
                        flex: 1;
                        min-height: 18px;
                    }

                    &--title-input {
                        height: 100%;
                        border: none;
                        flex: 1;
                        background-color: P2Colors.$grey1;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;

                        &:focus {
                            border: P2Colors.$grey1;
                            outline: none;
                        }
                    }

                    svg {
                        background-color: P2Colors.$grey1;
                        height: 100%;
                    }
                }
            }
        }

        &--footer {
            flex: 0 0 auto;
            background-color: P2Colors.$white;
        }
    }

    &__reorder-modal {
        @include P2Components.modal-commons;

        width: 450px;

        &--header {
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            &--title {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.6;
                color: P2Colors.$navy;
                text-transform: none;
                margin-bottom: 0;
            }

            &--reset-button {
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                color: P2Colors.$grey5;

                &:hover,
                &:focus {
                    color: P2Colors.$pink-dark;
                }
            }
        }

        &--list {
            display: flex;
            flex-direction: column;
            margin: 32px;
            margin-left: 32px;
            list-style: none;
            border-radius: 4px;
            padding: 0;
            max-height: 450px;
            background-color: P2Colors.$white;
            overflow-y: auto;
            position: relative;
            scrollbar-width: thin;
            overflow-x: hidden;

            &--dividing-bar {
                height: 2px;
                background-color: P2Colors.$pink-medium;
                margin: 0;
                width: 100%;
                border-radius: 2px;
                min-height: 2px;
            }

            &:focus {
                outline: 2px solid P2Colors.$pink-dark;
            }

            &--item {
                padding: 8px;
                display: flex;
                font-size: 14px;
                font-weight: 600;
                border-radius: 4px;
                background-color: P2Colors.$white;
                cursor: grab;
                height: 40px;
                align-items: center;
                color: P2Colors.$navy;
                border: 1px solid transparent;
                transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
                width: 386px;
                position: relative;

                &--droppable-zone {
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    left: 0;
                }

                &.swappable {
                    cursor: grabbing;

                    &:hover {
                        height: 38px;
                    }
                }

                &.selected {
                    background-color: P2Colors.$pink-bg;
                }

                &:focus {
                    outline: 2px solid P2Colors.$pink-dark;
                    color: P2Colors.$pink-dark;
                    outline-offset: -2px;
                }

                /* Not ideal but we need to avoid the front element to overlap with the
                the border of the focused element */
                &:focus + & {
                    border-top: none;
                    margin-top: 2px;
                }

                &--placeholder {
                    width: 100%;
                    height: 40px;
                    background-color: P2Colors.$grey4;
                    border-radius: 4px;
                    cursor: grabbing;
                    min-height: 40px;
                }

                &--icon {
                    display: flex;
                    align-items: center;
                }

                &.dragged {
                    cursor: grabbing;
                    color: P2Colors.$pink-dark;
                    border: 1px solid P2Colors.$pink-dark;
                    position: absolute;
                    pointer-events: none;

                    &:hover {
                        color: P2Colors.$navy;
                        border: 1px solid P2Colors.$pink-medium;
                    }
                }

                &.replaceable-top:hover {
                    border-top: 2px solid P2Colors.$pink-medium;
                    border-radius: 0px;
                }

                &.replaceable-bottom:hover {
                    border-bottom: 2px solid P2Colors.$pink-medium;
                    border-radius: 0px;
                }

                &:hover:not(.swappable) {
                    color: P2Colors.$pink-medium;
                    border: 1px solid P2Colors.$pink-medium;
                    border-radius: 4px;
                }
            }
        }

        &--footer {
            display: flex;

            &--cancel-button {
                @include P2Components.secondary-button(
                    $on-colour-bg: false,
                    $border: false
                );
            }

            &--apply-button {
                @include P2Components.primary-button;

                border-radius: 4px;
            }
        }
    }

    &__share-modal {
        @include P2Components.modal-commons;

        &--read-only-info {
            display: flex;
            width: 100%;
            height: 40px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            background-color: P2Colors.$navy;
            color: P2Colors.$white;
        }

        &--header {
            padding-left: 32px;
            padding-right: 32px;
        }

        &--error {
            padding-bottom: 19px;

            &--text {
                margin: 0;
                color: P2Colors.$orange-medium;
                font-size: 14px;
                line-height: 1.5;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            padding-right: 32px;
            padding-left: 32px;
        }

        &--emails-container {
            margin: 8px 0 0px 0;
        }

        &--label {
            color: P2Colors.$grey6;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: normal;
        }

        &--with-org {
            &--checkbox {
                display: flex;
                margin-left: -10px;

                &.disabled {
                    color: P2Colors.$grey5;
                    cursor: not-allowed;
                }

                &--label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                &.disabled &--label {
                    cursor: not-allowed;
                }

                &:not(.disabled) & {
                    &--label:hover {
                        color: P2Colors.$pink-medium;
                    }

                    &.checked &--label:not(:hover) &--icon {
                        color: P2Colors.$pink-dark;
                    }
                }

                &--icon {
                    height: 32px;
                }

                &--org-name {
                    margin-left: 8px;
                }
            }
        }

        &--emails {
            display: flex;
            background: P2Colors.$grey1;
            border-radius: 2px;
            min-height: 42px;
            padding: 4px 12px;
            text-transform: none;
            font-size: 14px;
            line-height: 1.5;
            color: P2Colors.$grey5;
            flex-wrap: wrap;
            align-items: center;
            box-shadow: P2Colors.$grey3 0 0 0 1px;

            &.invalid {
                box-shadow: P2Colors.$orange-medium 0 0 0 2px;
            }

            &:hover:not(.invalid):not(.focused) {
                box-shadow: P2Colors.$pink-medium 0 0 0 1px;
            }

            &.focused {
                box-shadow: P2Colors.$pink-dark 0 0 0 2px;
            }
        }

        &--email {
            background: P2Colors.$grey1;
            padding: 4px 8px;
            color: P2Colors.$navy;
            margin: 4px 8px 4px 0;
            height: 26px;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1.2;
            border-radius: 4px;
            font-weight: 600;
            display: flex;

            &.valid {
                color: P2Colors.$white;
                background-color: P2Colors.$pink-dark;
            }

            &.invalid {
                background: P2Colors.$orange-medium;
                color: P2Colors.$white;
            }

            &.not-validated,
            &.invalid {
                cursor: text;
            }

            &--icon {
                position: relative;
                margin-left: 8px;
                cursor: pointer;
                bottom: -1px;
            }

            &--input {
                background: P2Colors.$grey1;
                border: 0;
                flex-grow: 2;
                margin: 4px 4px;

                height: 21px;
                padding: 1px 1px 1px 0px;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.5;
                color: P2Colors.$navy;

                &:active,
                &:focus {
                    outline: none;
                    background-color: P2Colors.$grey1;
                }
            }
        }

        &--current-emails {
            position: relative;

            width: 100%;
            height: 100%;
            margin-bottom: 8px;
            display: flex;
            flex-wrap: wrap;

            &--content-scroll {
                position: absolute;
                overflow: auto;

                bottom: 0;
                top: 0;
                right: 0;
                left: 0;
            }

            & .xb2-modal__share-modal--email.valid {
                color: P2Colors.$navy;
                background-color: P2Colors.$grey3;
            }
        }

        &--note {
            position: relative;
            width: 100%;
            min-height: 114px;
            margin-top: 8px;

            &--textarea {
                font-family: P2Components.$p2-fonts;
                font-size: 14px;
                width: 100%;
                height: 100%;
                padding: 8px 64px 2px 8px;
                border-radius: 2px;
                color: P2Colors.$grey5;
                background: P2Colors.$grey1;
                box-shadow: P2Colors.$grey5 0 0 0 1px;
                resize: none;
                border: none;

                &::placeholder {
                    color: P2Colors.$grey6;
                }

                &.disabled {
                    cursor: not-allowed;
                }

                &:hover:not(:focus):not(.disabled) {
                    box-shadow: P2Colors.$pink-medium 0 0 0 1px;
                    color: P2Colors.$pink-medium;

                    &::placeholder {
                        color: P2Colors.$pink-medium;
                        font-weight: normal;
                    }
                }

                &:focus {
                    outline: none;
                    box-shadow: P2Colors.$pink-dark 0 0 0 2px;
                    font-weight: 600;
                    color: P2Colors.$navy;
                }
            }

            &--limit-info {
                position: absolute;
                top: 8px;
                right: 8px;
                color: P2Colors.$grey6;
                font-size: 14px;
                font-weight: 600;

                &.reached {
                    color: P2Colors.$orange-medium;
                }
            }
        }

        &--autocomplete {
            @include AutocompleteInput.autocomplete;

            &--option {
                &--content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-transform: none;
                    font-size: 12px;
                    line-height: 16px;
                    gap: 8px;
                }

                &--avatar {
                    margin: 0;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                }

                &--subheading {
                    color: P2Colors.$grey5;
                    margin: 0;
                }

                &--headline {
                    font-weight: 600;
                    margin: 0;
                }
            }

            &--container-input {
                &::placeholder {
                    color: P2Colors.$grey5;
                }
            }

            &--container--input-cont {
                &.disabled {
                    background-color: P2Colors.$grey1;
                    border-color: P2Colors.$grey2;
                    cursor: not-allowed;

                    & > input {
                        cursor: not-allowed;
                    }
                }

                &:hover:not(:focus):not(.disabled) {
                    box-shadow: P2Colors.$pink-medium 0 0 0 1px;
                    color: P2Colors.$pink-medium;

                    &::placeholder {
                        color: P2Colors.$pink-medium;
                        font-weight: normal;
                    }
                }
            }
        }

        &--footer {
            flex-direction: column;
            height: 160px;
            padding: 0;
            gap: 0;

            &--buttons {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                padding: 24px 32px;
                gap: 8px;
            }

            &--link-share {
                display: flex;
                flex-direction: row;
                padding: 14px 32px;
                border-top: 1px solid P2Colors.$grey3;

                &--button {
                    @include P2Components.secondary-button(
                        $on-colour-bg: false,
                        $border: false
                    );

                    &.primary {
                        @include P2Components.primary-button-with-icon(
                            $on-colour-bg: false,
                            $icon-placement: "left"
                        );
                    }
                }

                &--info {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-grow: 1;
                }
            }
        }
    }
}
